@import url("https://fonts.cdnfonts.com/css/libre-franklin?styles=19245,19248,19241");
@import url("https://fonts.cdnfonts.com/css/tenor-sans");
@import url("https://fonts.cdnfonts.com/css/source-serif-pro");
* {
  box-sizing: border-box;
}
html,
body {
  max-width: 1440px;
margin: 0px auto;


}
.style_name {
  font-family: "Libre Franklin";
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  color: #999999;
  padding: 0px 0px 0px 0px;
}
.style_name_latestpost {
  font-family: "Libre Franklin";
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  color: #999999;
  padding: 0px 0px 0px 120px;
}

.style_headline {
  font-family: "Tenor Sans";
  font-style: normal;

  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.style_author {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

header {
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px;
  height: 90px;
  border-bottom: 1px solid rgb(231, 227, 227);
}
.nav_header {
  font-family: "Libre Franklin", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  font-size: 14px;
  padding: 28px;
  line-height: 24px;
}
.a_header {
  text-decoration: none;
  color: #000000;
}
.main_content {
  max-width: 100%;
  padding: 0px 120px 0px 120px;
  margin-left: auto;
  margin-right: auto;
  display: inline-grid;
  margin-top: 60px;
  grid-template-columns: 1fr auto 1fr;
 
 
}
.main_description {
  margin-left: 50px;
}
.style_headline_main {
  font-family: "Tenor Sans";
  font-style: normal;

  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.style_description_main {
  font-family: "Source Serif Pro";
  font-style: normal;

  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.second_content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw;
  margin-top: 60px;
  max-width: 100%;
  padding: 0px 120px 0px 120px;
  border-bottom: 1px solid rgb(231, 227, 227);
  margin-bottom: 90px;
  font-family: "Tenor Sans";

  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.third_content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  margin-top: 30px;
  width: 100%;
  padding: 0px 120px 0px 120px;
  margin-bottom: 40px;
  font-family: "Tenor Sans";

  font-size: 20px;
  line-height: 24px;
}
.third_content_btn {
  display: grid;
  margin-top: 10px;
  margin-bottom: 90px;
  justify-items: center;
}
.third_content_btn_style {
  color: #000000;
  background-color: none;
  text-decoration: none;
  border: 1px solid black;
  padding: 21px 36px 21px 36px;
  font-family: "Libre Franklin";

  font-size: 10px;
  line-height: 12px;
}
.third_content_btn_style:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

.open_content {
  justify-items: center;
  font-family: "Libre Franklin";
  padding: 21px;
  font-size: 10px;
  line-height: 12px;
  margin-top: 50px;
  text-decoration: none;
  padding: 21px;
  background: none;
}
.fourth_content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
  margin-top: 30px;
  margin-bottom: 90px;
  font-family: "Tenor Sans";
  font-style: normal;
  width: 100%;
  padding: 0px 120px 0px 120px;
  font-size: 19px;
  line-height: 24px;
  color: black;
}
.style_headline_fourth {
  font-family: "Tenor Sans";
  font-style: normal;

  font-size: 19px;
  line-height: 24px;
  color: black;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #141414;
  margin: auto;
  padding: 90px 120px 90px 120px;
  font-family: "Libre Franklin";
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  flex-wrap: wrap;
}
.footer_headline {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0px 0px 60px 0px;
  margin-bottom: 60px;

  border-bottom: 1px solid #4d4d4d;
}
.categories {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 15px;
  white-space: nowrap;
  margin-bottom: 70px;
  margin-top: -25px;
  flex-wrap: wrap;
  line-height: 33px;
  align-items: end;
}
.categories_style {
  padding: 0px;
}
.contact {
  display: flex;
  flex-direction: row;
  gap: 156px;
  white-space: nowrap;
  line-height: 33px;
}
.contact_style {
  display: flex;
  flex-direction: column;
}
.contact_style_last {
  display: flex;
  flex-direction: column;
  padding: 0px 18px;
}
form.subscribe input {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  font-size: 10px;
  line-height: 12px;

  float: left;
  width: 221px;
  height: 48px;
  background: #f1f1f1;
}

form.subscribe button {
  width: 79px;
  height: 48px;
  padding: 10px;
  background: #000000;
  color: #ffffff;

  font-family: "Libre Franklin";

  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
}

form.subscribe button:hover {
  background: #0b7dda;
}

.footer_style {
  font-family: "Libre Franklin";
  font-size: 10px;
  line-height: 12px;
  color: #666666;
  text-decoration: none;
  margin-bottom: 20px;
}
.subscribe {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px 0px 10px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: underline;
}
.a_style_underline {
  text-decoration: none;
  color: #000000;
}
.a_style_underline:hover {
  text-decoration: underline;
}
h2 {
  font-family: "Libre Franklin";
}
.h2_header {
  font-family: "Libre Franklin";
  padding: 0px 0px 0px 12px;
}


img:hover {
  box-shadow: 1px 1px #999999, 2px 2px #999999, 3px 3px #999999, 4px 4px #999999,
    5px 5px #070707;
  transform: translateX(-5px);
}
.style_name_1 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  color: #999999;
  border-top: 1px solid #e6e6e6;
  padding: 90px 0px 30px 120px;
}
.btn_1 {
  color: #000000;
  background-color: none;
  text-decoration: none;
  border: 1px solid black;
  padding: 21px 36px 21px 36px;
}
img {
 width: 100%;
}
.mobile_header {
  display: flex;
  justify-content: end;
}
.btn_mobile_menu {
  display: flex;
  justify-content: flex-end;
}

.btn_mobile_style {
  padding: 34px;
  border: none;
  background: none;
  position: absolute;
}
.mobile_menu {
  border: 2px solid rgb(165, 162, 162);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
  line-height: 50px;
  font-size: 30px;
  font-family: "Libre Franklin";
  width: 200px;
  position: absolute;
  background-color: #ffffff;
}
.btn_close_style {
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: end;
  padding: 2px 24px 0px 0px;
}

.btn_close_style:hover {
  text-decoration: none;
  font-size: 40px;
}
.btn_close {
  display: flex;
  justify-content: flex-end;
  position: absolute;
}


.hidden {
  display: none !important;
}


@media only screen and (min-width: 760px) {
 
 
  

  .btn_mobile_menu {
    display: none;
  }
  .mobile_menu {
    display: none;
  }
}
@media only screen and (max-width: 761px) {
  .nav_header {
    display: none;
  }
  .main_content {
  display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .main_description {
    margin: 0px;
  }

  .contact_style_last {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .second_content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
  }
  .third_content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
  }
  .fourth_content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
  }
  .a_style_underline {
    text-align: start;
  }
  .categories_style {
    padding: 0px;
  }
  .contact_style_last {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .categories {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    align-items: baseline;
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
  }
  .contact_style_last {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px;
  }
}
